/*font link for googleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Londrina+Shadow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*fontname*/
/*
font-family: 'Edu SA Beginner', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Splash', cursive;
font-family: 'Ubuntu', sans-serif;
*/
*{margin:0 ;padding:0;box-sizing: border-box;}
/*fast seciton design*/
.fastimgsec{
    background-image: url(../media/image/fastImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    color:white
}
section{
    overflow: hidden;
}
.continer{
    width:1080px;
    margin:auto;
    display: flex;
}
.contenText{
    width:540px;
    margin:100px 0px;
}
.contenText h1{
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
    margin: 201px 89px 0px 0px;
}
.contenText p{
    font-family: arial;
    padding:40px 0;
    line-height: 1.4rem;
    margin-bottom:20px;

}
/*secondWinter design*/
/* .secondWinter{
    height:700px
} */
.flexBox-wrap{
    display:flex;
}
.leftcontent{
    width:50%;
}
.writeContent{
    background-image:url(../media/image/secondSectin.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    background-position: 50% 50%;
}
.leftcontent h2{
    font-family: Ubuntu, sans-serif;
    margin: 160px 89px 30px 100px;
    padding: 0px 0px;
    font-weight: 500;
    font-size: 2.5rem;
}
.leftcontent p{
    padding:0px 100px;
    font-family: arial;
    font-weight:500;
    line-height: 1.9rem;
    color:#111111

}
.leftcontent a {
    display: block;
    width: 135px;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    border: 2px solid red;
    text-align: center;
    font-weight: 400;
    margin: 50px 0px 160px 100px;
    text-decoration: none;
    color: red;
    padding: 11px 0px;
}
/*gallery image */
.imgOne{
    background-image: url(../media/image/SectonThFast.jpeg);

}
.imgTwo{
    background-image: url(../media/image/sectionthTow.jpeg);
}
.imgThree{
    background-image: url(../media/image/sectonThTin.jpeg);
}
.imgFour{
    background-image: url(../media/image/four.jpeg);
}
.boxWrap{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 430px;
}
.imageBox{
    background-position: 50% 50%;
    background-size:cover;
}
/* gellary section design*/
.boxWrappergl-text{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.gl-center {
    background-image: url(../media/image/SecThfour.jpeg);
    background-size: cover;
    background-position: 50% 50%;
}
.gl-left {
    background-color: #65c887;
    color: white;
}
.gl-left h2{
    font-family: Ubuntu, sans-serif;
    padding: 50px 0px 20px 80px;
    font-size: 2.5rem;
}
.gl-box-img p {
    font-family: arial;
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 30px 0px 110px 80px;
}
.gl-write{
    background-color: #3e729a;
    text-align: right;
    color :white
}
.gl-box-img.gl-write h2 {
    font-family: 'Ubuntu';
    font-size: 2.6rem;
    padding: 76px 80px 19px 0px;
}
.gl-box-img.gl-write p {
    padding: 24px 80px 0px 16px;
}
.gl-box-img {
    padding: 30px 0;
}
/* one image and content design */
.imgFlow{
    display:flex;
    background-color: #292f33;
}
.minBox {
    width: 440px;
    background-color: #eb484b;
    color: white;
    padding: 20px 16px;
    text-align:right;
    margin: 175px 100px;
}
.minBox h2{
    padding: 20px 20px;
    font-family:  Ubuntu, sans-serif;;
    font-weight:300px
}
.minBox p {
    padding: 0px 20px 40px;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-family: arial;
}
.minBox a {
    display: block;
    width: 135px;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    border: 2px solid rgb(204, 177, 177);
    text-align: center;
    font-weight: 400;
    margin: 0px 3px 39px 253px;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 11px 0px;
    justify-content: right;
}
